{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="w-50 mx auto p-2 container half-page bg-secondary text-white rounded-2">
     <h1 class="h3 font-weight-normal">Créer un compte</h1>
    {{ form(registrationForm) }}
    </div>

{% endblock %}
