<h1>Bonjour {{ name }}! </h1>

<p>Nous sommes content de vous annoncer qu'une nouvelle réponse vient d'être postée sous votre question <strong>{{ question }}</strong>. </p>

<p> Venez vite la découvrir en cliquant <a href="{{ url }}">ici</a> !

<p> A bientot sur mon super site mega trop genial !</p>